  <body>
    <div class="main">
      <header class="topnav">
        <div class="third-logo logo">EK</div>
        <%= link_to "Home", root_path, :class => "tab" %>
        <%= link_to "Profile", users_path, :class => "tab active" %>
        <%= link_to "Games", root_path, :class => "tab" %>
        <div class="search-container">
        <%= link_to "Sign In / Sign Up", root_path, :class => "tab" %>
          <form action="/action_page.php">
            <button type="submit">
              <i class="search-icon" data-feather="search"></i>
            </button>
            <input type="text" placeholder="Search.." name="search">
          </form>
        </div>
      </header>
      <div class="container">
        <div class="heading">
          <h1>USER PROFILE</h1>
        </div>

        <div class="user">
          <img class="avatar" src="http://via.placeholder.com/300x300">
          <div class="user-info">
            <h3>USERNAME</h3>
            <h3>E-MAIL@MAIL.COM</h3>
            <h3>OTHER INFO</h3>
          </div>

          <div class="content">

            <div class="posts">
              <div class="post">
                <img class="mini-avatar" src="http://via.placeholder.com/50x50">
                <span><b>User Post Title</b></span><br>
                <span><em>User Post</em></span>
                <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper pro, referrentur
                theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per. Eu solum clita indoctum
                pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
              </div>
            </div>



            <div class="posts">
              <div class="post">
                <img class="mini-avatar" src="http://via.placeholder.com/50x50">
                <span><b>User Post Title</b></span>
                <br>
                <span><em>User Post</em></span>
                <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper
                  pro, referrentur theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per.
                  Eu solum clita indoctum pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
              </div>
            </div>

            <div class="posts">
              <div class="post">
                <img class="mini-avatar" src="http://via.placeholder.com/50x50">
                <span><b>User Post Title</b></span>
                <br>
                <span><em>User Post</em></span>
                <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper
                  pro, referrentur theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per.
                  Eu solum clita indoctum pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
              </div>
            </div>

            <div class="posts">
              <div class="post">
                <img class="mini-avatar" src="http://via.placeholder.com/50x50">
                <span><b>User Post Title</b></span>
                <br>
                <span><em>User Post</em></span>
                <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper
                  pro, referrentur theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per.
                  Eu solum clita indoctum pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
              </div>
            </div>

            <div class="posts">
              <div class="post">
                <img class="mini-avatar" src="http://via.placeholder.com/50x50">
                <span><b>User Post Title</b></span>
                <br>
                <span><em>User Post</em></span>
                <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper
                  pro, referrentur theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per.
                  Eu solum clita indoctum pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
              </div>
            </div>

            <div class="articles">
          
            </div>
            <div class="game-revs">
          
            </div>
          </div>
        </div>
      </div>
      

    </div>


    
    <footer>
    
      <div class="column one">
        © EXP-ATK
      </div>
    
      <div class="blank">
    
      </div>
    
      <div class="column two">
        <ul>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
        </ul>
      </div>
    
      <div class="column three">
        <ul>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
          <li>LINK</li>
        </ul>
      </div>
    
    </footer>

    <script>
      feather.replace()
    </script>
  </body>
