  <div class="main">
    <header class="topnav">
      <div class="third-logo logo">EK</div>
      <%= link_to "Home", root_path, :class => "tab active" %>
      <%= link_to "Profile", root_path, :class => "tab" %>
      <%= link_to "Games", root_path, :class => "tab" %>
      <div class="search-container">
      <%= link_to "Sign In / Sign Up", root_path, :class => "tab" %>
        <form action="/action_page.php">
          <button type="submit">
            <i class="search-icon" data-feather="search"></i>
          </button>
          <input type="text" placeholder="Search.." name="search">
        </form>
      </div>
    </header>

    <video class="jumbotron" autoplay="autoplay" loop>
      <source src="../assets/videos/final_5b09881a304cef0014d7ba44.mp4" type="video/mp4" />
    </video>

    <br>
    <div class="container">
      <h1>WELCOME GAMERS</h1>
      <div class="highlighted">
        <img class="img-1" src="../assets/images/character-classic-colorful-163114.jpg" alt="">
        <img class="img-2" src="../assets/images/business-computer-connection-929824.jpg" alt="">
        <img class="img-row1" src="../assets/images/action-blur-close-up-735911.jpg" alt="">
        <img class="img-row2" src="../assets/images/adult-competition-computers-929831.jpg" alt="">
        <img class="img-row3" src="../assets/images/clouds-female-game-123335.jpg" alt="">
      </div>
      <div class="content">
        <div class="title center">Top Articles</div>
        <br>
        <div>
          <span class="title">Article Title</span><br>
          <span class="author">Article Author</span><br>
          <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
        </div><br>
        <div>
          <span class="title">Article Title</span><br>
          <span class="author">Article Author</span><br>
          <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te
            vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
        </div><br>
        <div>
          <span class="title">Article Title</span><br>
          <span class="author">Article Author</span><br>
          <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te
            vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
        </div><br>
        <div>
          <span class="title">Article Title</span><br>
          <span class="author">Article Author</span><br>
          <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te
            vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
        </div><br>
        <div>
          <span class="title">Article Title</span><br>
          <span class="author">Article Author</span><br>
          <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te
          vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
        </div><br>
      </div>

      <div class="side-bar">
        <div class="center title">Game Reviews</div>
        
        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc">
              Game Title <br>
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>
        </div>

        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
              </div>
          </div>
        </div>

        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc">
              Game Title<br> 
              Score/50
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  <footer>

    <div class="column one">
      © EXP-ATK
    </div> 

    <div class="blank">

    </div>

    <div class="column two">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

    <div class="column three">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

  </footer>