<div class="main">
  <div class="container">
    <h1>GAMES</h1>

    <%= image_tag 'games.jpg', :class => "jumbotron" %>

    <div class="gal">
      <% @games.each do |game| %>
        <div class="pic">
          <img class="game-pic" src= <%= game.box_art_url.gsub("-{width}x{height}","") %> >
          <div class="game-title">
            <%= game.name %>
          </div>
        </div>
      <% end %>
    </div>
    
    </div>
  </div>
  

</div>