<div class="main">
  <div class="container">
    <h1 class="head">GAMES</h1>
    <div class="search-container2">
      <form action="/action_page.php">
        <button type="submit">
          <i class="search-icon" data-feather="search"></i>
        </button>
        <input class="searchy" type="text" placeholder="Search.." name="search">
      </form>
    </div>

    <%= image_tag 'games.jpg', :class => "jumbotron" %>

    <div class="gal">
      <% @games.each do |game| %>
        <div class="pic">
          <img class="game-pic" src= <%= game.box_art_url.gsub("-{width}x{height}","") %> >
          <div class="game-title">
            <%= game.name %>
          </div>
        </div>
      <% end %>
    </div>
    
    </div>
  </div>
  

</div>