<div class="main">
  <div class="container">
    <h1>GAMES</h1>

    <%= image_tag 'games.jpg', :class => "jumbotron" %>

    <br><br><br>

    <h2 class="center-text"> SEARCH FOR A GAME </h2>

    <div class="search-container2">
      <form action="/action_page.php">
        <button type="submit">
          <i class="search-icon" data-feather="search"></i>
        </button>
        <input class="searchy" type="text" placeholder="Search.." name="search">
      </form>
    </div>

<br><br><br><br>
    <h2 class="center-text"> TOP GAMES </h2>

    <div class="gal">
      <% @top_games.each do |game| %>
        <% if game.name == "IRL" || game.name == "Casino" || game.name == "Talk Shows" || game.name == "Creative" %>
          <% next %>
        <% end %>
        <div class="pic">
          <img class="game-pic" src= <%= game.box_art_url.gsub("-{width}x{height}","") %> >
          <div class="game-title">
            <%= game.name %>
          </div>
        </div>
      <% end %>
    </div>
    
    </div>
  </div>
  

</div>