  <div class="main">
    <div class="container">
      <h2 class="head"> <%= @game.name %> </h1>
      <div>
        <img src= <%= @game.box_art_url.gsub("-{width}x{height}","") %> class="main-img">
      </div>
      <h2 class="head">Result Found</h2>
    </div>
  </div>