<div class="main">
<div class="container">
  <h1>GAMES</h1>
  <div>
    <img src="http://via.placeholder.com/550x350" class="main-img">
  </div>

  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>

  <div class="content">
    <% 5.times do %>
      <div class="posts">
        <div class="post">
          <img class="mini-avatar" src="http://via.placeholder.com/50x50">
          <span><b>User Post Title</b></span><br>
          <span><em>User</em></span>
          <p>Post Content - Lorem ipsum dolor sit amet, modo unum minim his at. Sit perfecto mediocritatem ad, ut graeco cetero ullamcorper pro, referrentur
          theophrastus sed ad. Exerci mentitum ei duo. Qui ex utinam consequat. Periculis definitionem et per. Eu solum clita indoctum
          pri, ius illud erroribus consequat ex, vis nibh habemus cu.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>