// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-img {
  border: 10px solid #707070;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 0 0 30px #191e22;
  width: 25em;
  height: 35em;
}

.mini-img {
  border: 10px solid #707070;
  border-radius: 20px;
  display: inline-block;
  float: left;
  margin: 10px;
  box-shadow: 0 0 30px #191e22;
}

.game {
  width: 20%;
  border: 10px solid #707070;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 0 30px #191e22;
}
.games {
  width: 100%;
  display: inline-block;
  float: left;
  margin: 10px;
  box-shadow: 0 0 30px #191e22;
}

.jumbotron {
  width: 90%;
  border: 10px solid #707070;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #191e22;
}

.gal {
  display: inline-block;
  padding-bottom: 40px;
}

.pic {
  display: inline-block;
  margin: 10px 6px;
}

.game-pic {
  width: 15em;
  height: 20em;
  border: 10px solid #707070;
  border-radius: 20px;
  float: left;
  margin: 10px;
  box-shadow: 0 0 10px #191e22;
}
.game-pic:hover {
  width: 15em;
  height: 20em;
  border: 10px solid #FF6200;
  border-radius: 20px;
  float: left;
  margin: 10px;
  box-shadow: 0 0 20px #FF6200;
  cursor: pointer;
}

.game-title {
  width: 100%;
  text-align: center;
}
.search-container2 {
  padding: 0;
  border-radius: 5%;
  width: 60%;
  display: inline-block;
}

.search-container2 button {
  float: right;
  padding: .4em 1.5em .334em;
  margin-top: .43em;
  margin-right: 16px;
  background: #FF6200;
  font-size: 133.5%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
@media (max-width: 768px) and (min-width: 0px)  {
  .search-container2 {
    display: none;
  }
}
.search-container2 a {
  width: 35%;
  margin-right: 20px;
  margin: 2% 0 0 0;
}

.search-container2 a:hover {
  width: 120px;
  margin-right: 20px;
}

.search-container2 form {
  // float: right;
  padding: 0 0 3.2% 0;
  display: inline-block;
  width: 100%;
}

.searchy {
  padding: .45em .4em .336em;
  margin-top: .47em;
  font-size: 120%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #FF6200;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  width: 83.1%;
  letter-spacing: 3px;
}
@media only screen and (max-width:1437px) {
  .searchy {
    padding: .4em .4em .336em;
    margin-top: .48em;
    width: 82.99%
  }    
}
@media only screen and (max-width:1428px) {
  .searchy {
    padding: .4em .4em .336em;
    margin-top: .48em;
    width: 82.8%
  }    
}
@media only screen and (max-width:1413px) {
  .searchy {
    padding: .4em .4em .336em;
    margin-top: .48em;
    width: 82.8%;
  }
}
@media only screen and (max-width:1024px) {
  .searchy {
    padding: .4em .4em .336em;
    margin-top: .48em;
    width: 76.1%;
  }
}

.center-text {
  text-align: center;
  color: white;
  font-size: 170%;
  letter-spacing: 7px;
  font-family: 'Phosphate Inline', cursive;
  text-shadow:
    -1px -1px 0 #FF6200,
    1px -1px 0 #FF6200,
    -1px 1px 0 #FF6200,
    1px 1px 0 #FF6200; 
}

.post-title {
  border-radius: 10px;
  height: 30px;
  width: 45%;
  color: #FF6200;
  background-color: #272F37;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 16px;
  border: 2px solid #707070;
  letter-spacing: 3px;
}

.post-content {
  border-radius: 10px;
  height: 75px;
  width: 90%;
  color: #FF6200;
  background-color: #272F37;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px 0 0 10px;
  font-size: 16px;
  border: 2px solid #707070;
  letter-spacing: 3px;
}

.submit {
  margin-top: 3%;
  width: 15%;
  background-color: #413661;
  border: 1px solid #707070;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  border-radius: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-right: 11.5%;
}
.submit:hover {
  margin-top: 3%;
  width: 15%;
  background-color: #332b4d;
  border: 1px solid #FF6200;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  border-radius: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-right: 11.5%;
  cursor: pointer;
}

.head {
  text-align: center;
  color: white;
  font-size: 250%;
  letter-spacing: 5px;
  text-shadow:
    -1px -1px 0 #FF6200,
    1px -1px 0 #FF6200,
    -1px 1px 0 #FF6200,
    1px 1px 0 #FF6200; 
}

details summary::-webkit-details-marker { display: none; }
details summary:hover { cursor: pointer; }